// // Specific CSS for your home-page

// NORONG VERSION //

// General rules

@import url('https://fonts.googleapis.com/css2?family=Lato&family=Poppins:wght@300;400;500;600;700;800&family=Sacramento&display=swap');

:root {
  --color-primary: #7380ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}

 .homepage {
  margin: 30px;
  padding: 40px;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  height: 100vh;
}

// End General rules

.logo {
  color: white;
  font-size: 28px;
  font-weight: bold;
}

.hamburger {
  display: none;
}

header {
  width: 100%;
  height: 80px;
  // background: linear-gradient(to right, #000000, #434343);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 10px;
}

.homepage  {
  .home-search {
    background-color: #3C97CB;
  }

}

// Norong Search function ===============
// .homepage main {
//   min-height: 40vh;
//   //padding: 20px;
//   display: flex;
//   justify-content: center;
//   flex-direction: row;
//   flex-wrap: nowrap;width: 100%;
//   padding: 3rem 1rem 3rem;
//   margin: 0 auto;
//   //z-index: 10000;
// }

// @media (min-width: 500px) {
//   .homepage section {
//     padding: 3rem 2rem 3rem;
//   }
// }

// .homepage main .input-container{
//     position: relative;
//     width: 100%;
//     margin: 0 auto;
//     max-width: 425px;
// }

// .homepage main .input-container img {

//     position: absolute;
//     top: 7%;
//     left: 4%;
//     transform: translate(-50%, -50%);
//     width: 20px;
// }

// .homepage main .input-container input {
//   padding: 0.75rem 1rem;
//   border-radius: 25px;
//   border: none;
//   width: 100%;
//   outline: none;
//   padding-left: 3rem;
//   font-size: 1.125rem;
//   color: #a6a6a6;
// }

// .homepage main .input-container .btn1 {
//   display: inline-block;
//   margin-top: 20px;
//   background: #ff960b;
//   color: #fff;
//   text-decoration: none;
//   padding: 15px 50px;
//   border-radius: 30px;
// }

.homepage {
body, html{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #f3b927;
  }
  .wrapper{
  height: 100%;
  }
  .search-area{
  display: flex;
  justify-content: center;
  height: 100%;
  }
  .single-search {
  margin-bottom: auto;
  margin-top: auto;
  height: 40px;
  background-color: #fafafa;
  border-radius: 30px;
  padding: 5px;
  box-shadow: 0 8px 10px rgba(0,0,0,0.3);
  }
  .custom-input{
  background-color: #fafafa;
  border-radius: 20%;
  border: 0;
  outline: 0;
  width: 0;
  line-height: 20px;
  transition: width 0.4s linear;
  }
  input::placeholder {
  color: #262626;
  font-size: 20px;
  }
     .icon-area {
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  height: 30px;
  width: 30px;
  float: right;
  display: flex;
  text-decoration: none;
  color: #262626;
  }
  .single-search:hover > .custom-input{
  padding: 0 10px;
  width: 500px;
  caret-color:#262626;
  transition: width 0.4s linear;
  }
  .single-search:hover > .icon-area{
  //background: white;
  color: #262626;
  }

}

// End of Norong Search function ===============
// NORONG VERSION ENDS //


// Specific CSS for your home-page


h1 {
  color: white;
  font-weight: bold;
  font-size: 70px;
}


.container {
  margin-left: -15px;
  margin-right: -15px;
}

body {
  color: #061121;
  position: relative;
  width: 100%;
  height: 100%;

  // Here are a few options to choose between them:
  // background: linear-gradient(to right, #434343, #000000);
  // background: linear-gradient(to right, #414141, #000000);
  // background: linear-gradient(to right, #000000, #2C3E50);
  // background: linear-gradient(to right, #000000, #434343); // using this previously
  // background: linear-gradient(to right, #e9e9e9, #eef0f4);
     background-color: #181a1e;
}

p {
  color: white;
  position: relative;
  // font-size: 50px;
}

.card4 {
  opacity: 22%;
  position: absolute;
  right: 145px;
}
.card4 img {
  width: 400px;
  height: 400px;
  // left: -370.75px;
  // top: -21px;
  size: 70px;
  transform: matrix(0.91, 0.44, -0.4, 0.9, 0, 0);

}

.card5 {
  background-color: white;
  margin-top: 120px;
  height: 120px;
}

.row2 {
  h2 {
    color: #24FF00;
    font-size: 85px;
    font-weight: bold;
  }
}

.assets {
  h1 {
    font-size: 25px;
  }
}

.crypto-api {
  background-color: whitesmoke;
  border-radius: 12px;
  margin: 15px;
  padding: 30px;
  width: 50%;
}

.stocks-api {
  background-color: whitesmoke;
  border-radius: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 30px;
  width: 50%;
}

.assets {
  h1, p {
    color:black;
  }
}

.news {
  background-color: white;
  height: auto;
  padding-bottom: 45px;
  padding: 55px;

  h1, p {
    text-align: center;
    margin-top: 35px;
    color: black;
  }

  p {
    word-break: break-word;
    text-align: justify;
  }
}

.img {
  max-width: 255%;
}
.fnews {
  max-width: 25%;
}

.fin {
  display: flex;
  flex-direction: row;
}

// .newsapi {
//   background-color: whitesmoke;
//   border-radius: 12px;
//   margin: 25px;
//   padding-bottom: 85px;
//   h1 {
//     color:black;
//     font-size: 25px;
//   }
//   p {
//     color: black;
//   }
// }

.device {
  background-color: white;
  height: 800px;
  padding-top: 25px;

  h1 {
    color: black;
    text-align: center;
    text-shadow:#2D3436
  }
}

.email-input {
  input {
    line-height: 45px;
    padding: 5px 8px;
    min-width: 480px;
    align-content: center;
  }
}

.getstarted {
  padding: 16px;
}

.image {
  padding-right: 25px;
  padding-left: 25px;
  padding-bottom: 25px;
}

.news-text, .rec, .rec-text {
  padding-right: 25px;
  padding-left: 25px;
}
