<body>
<div class=container>
  <div class=card1>
    <h1>The easist way to track your</h1>
  </div>
  <div class=card2>
    <h2>portfolio</h2></div>
  <div class=card3>
    <p>Easily track your cryptocurrency and stock portfolio with real-time updates. Try it out and see the difference it can make.</p>
  </div>
  <div class=card4>
  <%= image_tag "Crypto" %>
  </div>
  <div class=card5> API WILL BE HERE
  </div>

</div>

<% if !@assets.nil? %>
<%= @assets["data"].first["symbol"] %>
<%end %>
<%= @error %>
</body>
