
.nav-bar {
  margin: 0px;
  padding: 0;
  box-sizing: border-box;
  background-color: #061121;
}

.nav-bar a {

  text-decoration: none;
  font-family: 'Lato', sans-serif;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li a {
  display: block;
  color: white;
  font-size: 18px;
  padding: 10px 25px;
  border-radius: 20px;
  transition: 0.6s;
  margin: 0 5px;
}

.nav-bar li {
  list-style: none;
}

.nav-bar ul a:hover{
  color: #11101b;
  background-color: #fefefe;
}

.btn-signup {
  background-color: #21ff00;
  color: white;
  padding: 15px 30px;
}

.nav-bar i {
  font-size: 15px;
  margin-left: 5px;

}
.nav-bar i:hover {
  transform: rotateZ(180deg);
  transition: transform 0.3s;
}

.nav-dropdown {
  position: relative;
  width: 100%;
  height: 400px;
  background: linear-gradient(to right, #066399, #2f8fdf, #066399);
  position: absolute;
  top: 80px;
  left: 0;
  z-index: 100;
}

.nav-dropdown-item {
  position: absolute;
  width: 200px;
  margin: 20px 100px;
  display: flex;

}

.nav-bar .nav-dropdown-2 {
  display: none;
}

.nav-bar .nav-dropdown-3 {
  display: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparent;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
